/* Sidebar.module.css */
.sidebar {
  width: 16rem;
  background-color: #1e293b;
  border-right: 1px solid #475569;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.logo {
  margin-bottom: 2rem;
 
}

.logoText {
  font-size: 1.5rem;
  font-weight: bold;
 background: linear-gradient(45deg, rgba(85, 129, 194, 1) 20%, rgba(139, 10, 168, 1) 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s;
  justify-self: center;
}
.logoSubtitle {
  color: #cbd5e1;
  font-size: 1rem;
  margin-top: 0.25rem;
  justify-self: center;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.menuItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.menuItem:hover {
  background-color: #334155;
  color: white;
}

.menuItemActive {
  background-color: #2563eb;
  color: white;
}

.menuItemInactive {
  color: #cbd5e1;
}

.footer {
  margin-top: auto;
  padding-top: 1.5rem;
}

.logoutButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  color: #cbd5e1;
  background: none;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
  background: linear-gradient(45deg, rgba(85, 129, 194, 1) 20%, rgba(139, 10, 168, 1) 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s;
}

.logoutButton:hover {
  background-color: #334155;
  color: white;
}